/* css styles */
/* Change navbar color */
.navbar {
  background-color: #7FB5C1 !important;
}

.navbar-brand, .nav-link {
  color: #ffffff !important;
}

h1, h2, h3 {
  color: #7FB5C1;
  font-family: "Georgia", serif;
}

.quarto-layout-panel img {
  height: 180px;
  width: 100%;
  object-fit: cover;
  padding: 2px;
}

.quarto-layout-cell {
  padding: 2px !important;
}
}